* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

a {
    all: unset;
}

:root {
    --colors-green: #04d361;
    --colors-blue: #6a80ff;
    --colors-title: #e1e1e6;
    --colors-text: #c4c4cc;
    --colors-gray: #323235;
    --colors-black: #09090a;
}

.hidden {
    display: none;
}

.workspace {
    width: 70%;
    min-width: 675px;
}

body {
    background-color: rgb(18, 18, 20);
    color: white;
}