.Container__module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    height: max-content;
    text-align: center;
}

.Container__module h1 {
    display: block;
    margin-top: 25px;
    font-size: 1.5rem;
    color: var(--colors-title);
}

.Modules {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}